<br/>
<br/>
<h2>Estimate Details</h2>
<br/>
<br/> ID:
<%=  estimate._id %>
  <br> Name:
  <%=estimate.name%>
    <br/> Location:
    <%=estimate.location%>
      <br/> SquareFeet :
      <%=estimate.squarefeet%>
        <br/>
        <br/>
        <% for (let j = 0; j < estimate.materials.length; j++) { material = estimate.materials[j]; %>
          <div> Name:
            <%=material.Name%>
              <br/> Unit Cost:
              <%=material.UnitCost%>
                <br/> CoverageSquareFeetPerUnit:
                <%=material.CoverageSquareFeetPerUnit%> years
                  <br/>
                  <br/>
          </div>
          <% } %>
          <br/>
          Num Days:
          <%=  estimate.numberOfDays %>
          <br>Hrs/Day:
          <%=  estimate.hoursWorkedPerDay %>
          <br>Labor $/Hr:
          <%=  estimate.laborDollarsPerHour %>
          <br>Num Rooms:
          <%=  estimate.numberHotelRooms %>
          <br>Num nights:
          <%=  estimate.numberHotelNights %>
          <br>Hotel $/night:
          <%=  estimate.hotelDollarsPerNight %>
          <br>Food $/day:
          <%=  estimate.foodDollarsPerDay %>
          <br>Num Vehicles:
          <%=  estimate.numberOfVehicles %>
          <br>Miles/vehicle:
          <%=  estimate.milesPerVehicle %>
          <br>$/mile:
          <%=  estimate.dollarsPerMile %>
          <br/>
          <br/>
          <% for (let j = 0; j < estimate.miscellaneous.length; j++) { miscellaneous = estimate.miscellaneous[j]; %>
            <div class="arrayItem">
              <%= miscellaneous.name %>
                = $ 
                <%= miscellaneous.cost %>
            </div>
            <% } %>
            <br/>
            <br/>
            <form method="get" action="/estimate">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>