<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="estimate/create" class="btn btn-primary new">
        Create a new estimate
      </a>
      <h2>Recent estimate entries</h2>
      <p>There are
        <%= estimates.query.length %> estimates.
          <br/>
      </p>
      <% for (var i = estimates.query.length-1; i >= 0; i--) {   estimate = estimates.query[i];   %>
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body">
            ID:
            <%=  estimate._id %>
              <br> Name:
              <%=estimate.name%>
                <br/> location:
                <%=estimate.location%>
                  <br/> squareFeet (years):
                  <%=estimate.squareFeet%>
                    <br/>
                    <br/>
                    <%=estimate.materials.length%> materials
                      <% for (let j = 0; j < estimate.materials.length; j++) { material = estimate.materials[j]; %>
                        <div class="arrayItem"> Name:
                          <%= material.name %>
                            <br/>location:
                            <%= material.unitcost %>
                              <br/>squareFeet:
                              <%= material.coversquareFeetSquareFeetPerUnit %>
                        </div>
                        <br/>
                        <% } %>
                          <br/>
                          Num Days:
                          <%=  estimate.numberOfDays %>
                          <br>Hrs/Day:
                          <%=  estimate.hoursWorkedPerDay %>
                          <br>Labor $/Hr:
                          <%=  estimate.laborDollarsPerHour %>
                          <br>Num Rooms:
                          <%=  estimate.numberHotelRooms %>
                          <br>Num nights:
                          <%=  estimate.numberHotelNights %>
                          <br>Hotel $/night:
                          <%=  estimate.hotelDollarsPerNight %>
                          <br>Food $/day:
                          <%=  estimate.foodDollarsPerDay %>
                          <br>Num Vehicles:
                          <%=  estimate.numberOfVehicles %>
                          <br>Miles/vehicle:
                          <%=  estimate.milesPerVehicle %>
                          <br>$/mile:
                          <%=  estimate.dollarsPerMile %>
                          <br/>
                          <br/>
                          <% for (let j = 0; j < estimate.miscellaneous.length; j++) { miscellaneous = estimate.miscellaneous[j]; %>
                            <div class="arrayItem">
                              <%= miscellaneous.name %>
                                = $ 
                                <%= miscellaneous.cost %>
                            </div>
                            <% } %>
                          <a href="/estimate/delete/<%= estimate._id  %>" class="btn btn-danger"> Delete </a>
                          <a href="/estimate/details/<%= estimate._id %>" class="btn btn-info"> Details </a>
                          <a href="/estimate/edit/<%= estimate._id %>" class="btn btn-warning"> Edit </a>
          </div>
        </div>
        <% } %>

    </div>
  </div>
</div>