<br/>
<br/>

            <a href="create" class="btn btn-danger new">
                return to
                create
            </a>
            <h2>Recent Estimates</h2>
            <p>There are
                <%= estimates.query.length %> estimates.
                    <br/>
            </p>
            <div class="container-fluid">
                <div class="row">
                        
            <% for (var i = estimates.query.length-1; i >= 0; i--) {   estimate = estimates.query[i]; %>
                
                <div class="panel panel-default">
                        <div class="panel-heading"></div>
                        <div class="panel-body">


                                ID:
                                <%=  estimate._id %>
                                    <br> Name:
                                    <%=estimate.name%>
                                        <br/> Location:
                                        <%=estimate.location%>
                                            <br/> SqFt:
                                            <%=estimate.squareFeet%>
                                                <br/>
                                                
                                                        
                                                        <!-- <a href="/estimate/copyfrom/<%= estimate._id  %>" class="btn btn-success"> Select </a>
                                                        <br>
                                                        <br> -->
                        </div>
                
                 
                                                 
                  
                <% } %>
            
            
            </div>
        </div>
         </div>
   <!-- </div>
</div> -->
