<li class="dropdown-submenu">
  <a href="#">2017 Fall Web Apps Section 03<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li class="dropdown-submenu">
      <a href="/about/t1">Team 1 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t1/a">Shirisha Reddy Rapole</a></li>
        <li><a href="/about/t1/b">Hemanth Narne</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about/t2">Team 2 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t2/a">Sirisha Vinukonda</a></li>
        <li><a href="/about/t2/b">Yeshwant Muppaneni</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about/t3">Team 3 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t3/a">Naveen Kumar Chandaluri</a></li>
        <li><a href="/about/t3/b">Hitesh Kolla</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about/t4">Team 4 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t4/a">Sree Lakshmi</a></li>
        <li><a href="/about/t4/b">Naveen Kumar Puvvada</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about/t5">Team 5 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t5/a">Hema Chaudary Paladugu</a></li>
        <li><a href="/about/t5/b">Swathi Dasari</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about/t6">Team 6 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t6/a">Chandrika Meda</a></li>
        <li><a href="/about/t6/b">Naresh Vunnam</a></li>
      </ul>
    </li>
   
   
  </ul>
</li>