<div>
  <div class="container" >
    <h1>Curt Carpenter</h1>
    <h2>C&G Coatings</h2>
    <h2 style="font-size:154%;">Contact Info</h2>
    <li style="font-size:123%;"><a href="https://www.facebook.com/people/Cg-Coatings/100009692642964" target="-blank"><span>https://www.facebook.com/people/Cg-Coatings/100009692642964</span></a></li>
    <li style="font-size:123%;"><a href="https://www.coatingsplusstore.com/" target="-blank"><span>https://www.coatingsplusstore.com/</span></a></li>
    <li style="font-size:123%;">Project objectives<br></li>
    <li style="font-size:123%;">Contact information<br></li>
    <li style="font-size:123%;">Phone: 913-634-2588<br></li>
    <li style="font-size:123%;"><a href="curt.carpenter0@gmail.com" target="-blank"><span >curt.carpenter0@gmail.com</span></a></li>
    <li style="font-size:123%;"><a href="https://www.facebook.com/CG-Coatings-104818302930011/" target="-blank"><span>https://www.facebook.com/CG-Coatings-104818302930011/</span></a></li>
      
  </div>
</div>