<div class="container-fluid" >
    <div class=row>
      <div class="col col-md-12">
          <h1 >Welcome</h1>
          <p style="font-size: 150px; text-align: center">C & G Coatings </p>
        <!-- <h1>Estimate!</h1>
        <br/>
        <h2 style="font-size:135%;">C&G Coatings specializes in roof restoration,<br>
          waterproofing and floor coatings.<br>
          They are a veteran-owned business, providing<br>
          customers with quality service,<br>
          100% satisfaction,<br>
          and a cost effective solution to their<br>
          roofing,<br>
          flooring,<br>
          and waterproofing needs.</h2>
        <br/>
        <hr>
        <h3>During development, test your api here.</h3>
        <br/>
        <br/>
        <h4>GET a view</h4>
        <ol>
          <li>
            <a href="http://localhost:8083/estimate">http://localhost:8083/estimate</a>
          </li>
          <li>
            <a href="http://localhost:8083/estimate/create">http://localhost:8083/estimate/create</a>
          </li>
          <li>
            <a href="http://localhost:8083/estimate/edit/1">http://localhost:8083/estimate/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8083/estimate/edit/2">http://localhost:8083/estimate/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8083/estimate/edit/3">http://localhost:8083/estimate/edit/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8083/estimate/delete/1">http://localhost:8083/estimate/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8083/estimate/delete/2">http://localhost:8083/estimate/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8083/estimate/delete/3">http://localhost:8083/estimate/delete/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8083/estimate/details/1">http://localhost:8083/estimate/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8083/estimate/details/2">http://localhost:8083/estimate/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8083/estimate/details/3">http://localhost:8083/estimate/details/3</a>
          </li>
  
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>
  
          <li>
            <a href="http://localhost:8083/estimate/findall">http://localhost:8083/estimate/findall</a>
          </li>
          <li>
            <a href="http://localhost:8083/estimate/findone/1">http://localhost:8083/estimate/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8083/estimate/findone/2">http://localhost:8083/estimate/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8083/estimate/findone/3">http://localhost:8083/estimate/findone/3</a>
          </li>
  
        </ol>
    -->
   
   
      </div>
    </div>
   </div>