<br/>
<br/>
<br/>
<h1>Naveen Kumar Puvvada</h1>
<h2>Software Developer</h2>
    <p class="c3">Hi,This is
        <strong>Naveen Kumar Puvvada</strong>. I am from India. I had completed my undergraduation at
        <strong>SRM University,Chennai</strong> in
        <strong>Computer Science Field</strong>. I donot have any work experience.</p>
</header>

<h3 >Plans</h3>
<ol>
    <li>My aim is to become a software engineer in field of Databases.</li>
    <li> To fullfill my aim i choose to pursue my masters in
        <strong>Applied Computer Science</strong>.</li>
</ol>
<div>
    <h4>Interests</h4>
    <ul>
        <li>I like playing cricket and listening to music.</li>
        <li>My subject interest falls under Database management.</li>
    </ul>
</div>
<div class="iframe">
    <iframe class="iframe" width="360" height="215" src="https://www.youtube.com/embed/D-xvlqDeXY4" allowfullscreen></iframe>
</div>
<div>
    <div class="container">
        <div class="col-xs-12">
            <footer>
                <p>
                    <strong>Done by:</strong>
                    <span>Naveen Kumar Puvvada</span>
                </p>
            </footer>
        </div>
    </div>
</div>
</div>
<br/>
<br/>