<br/>
<br/>
<br/>
<h1>Yeshwant Muppaneni</h1>
<h2>Software Designer </h2>
<h2 id="back">Background</h2>
<p class="background">I am from Hyderabad,India.I have completed my under gradution in computer science course.<br>I am a 2017 passed out and hence have no experience in any 
software ompanies.<br>I have come here for my graduation so that I could gain more knowledge and succeed in future.</p>
	
</section>
<h3 id="plan">Plans</h3>
<p class="background"> My plan is to join a software company gain some knowlege in the software fields and would help myself in starting up my own company if I can.</p>
<h4 id="int">Interests</h4>
<p class="background">I like to travel.I would love to see all the places that I can see before I get old.<br>I like playing games like basket ball and badminton.<br>
    I am interested in learning programming languges.</p>

<br/>
<br/>