<br/>
<br/>
<br/>
<html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Rapole_shirisha.css">
    <title>Shirisha</title>
    </head>
    <body class = "body">
    <header><section class="heading">
    <h1>MY INTRO</h1>
    <p class="link"><img  id="mypic" src="../../public/images/shirisha.jpg" alt="myphoto" width="110" height="115"></p>
    </section></header>
    </div>
    
    
    <section class="subheading">
    <h2>Introduction</h2></section>
        <p id="lines"><i> I am Shirisha from Hyderabad. <br>I completed my undergraduation in OU affiliated university.<br>I have no work expirience.</i></p>
    <section class="subheading">
    <h2>My Plans</h2></section>
    <p id="plan_bckg">I would like to work in any of the product based companies as a software developer.</p>
    <section class="subheading">
    <h2>My Interests</h2></section>
    <ul style="list-style-type:square">
        <li>I would like to learn the latest technologies like Hadoop,Data analytics</li>
        <li>I love to play shuttle and some board games</li>
        <li>My hobbies are cooking,listening to music and reading novels</li>
        <li>The programming languages i am intrested in are C,C++,Java</li>
    </ul>
    <a href="b.html">For extra info</a><br>
    <iframe width="250" height="200" src="https://www.youtube.com/embed/hOWRGcpV204"  allowfullscreen></iframe>
    <footer>
    <p> Contact info:<a class="hover" href="mailto:S530484@nwmissouri.edu">S530484@nwmissouri.edu</a> </p>
    </footer>
    </div>
    </div>
    </body>
    </html>
<br/>
<br/>