<br/>
<br/>
<br/>
<h1>Hema Chaudary Paladugu</h1>
<h2>Software Developer</h2>
<article class="introduction">
    <h2 id="introduction"> Introduction </h2>
    
    <section>
        <h2 id="backgroundHeader">Background</h2>
        <p class="background">I am Hemachaudary Paladugu from vijayawada which is located in south asian country  india.<br>
            I was graduated in may 2017 in electronics and communication background from gayatri vidya parishad college affliated to JNTU Kakinada.<br>
            I am currently studying masters in applied computer science stream.<br> 
            As I switched my stream from electronics to computers it is a new experience to learn new concepts in computers. </p>
    </section>
    <section>
        <h2 id="plansHeader">Plans</h2>
        <p class="background">I am interested to work on web designing.<br>
            I love to design websites with different styles and new ideas.</p>
    </section>
    <section>
        <h2 id="interestsHeader">Interests</h2>
        <p class="background">I am interested in solving sudoku pulzes(medium) which improves my analytical skills.<br>
            I love reading books mystery stories in specific.<br>
            My hobbies are playing badminton,carrons,listening to music and surfing internet.<br> 
            As I am a self learner my favorite websites are javatpoint and w3schools other than these i like online shopping websites.<br>
            I love c programing and have some knowledge about html and java.</p>
    </section>
</article>

<br/>
<br/>