<br/>
<br/>
<br/>
<h1>Sree Lakshmi</h1>
<h2>Software Developer</h2>
<article>
    <header>
        
        <body>
            <header><h1 id="mainheader"><b><span style="color:pink">About Me</span><b></h1></header>
        <ol type="I">
            <li>
                <section>
                    <h3 id="header"><b>My Background</b></h3>
                    <p class="planssection">
                            I am Sreelakshmi from Guntur,India.I had completed my under graduation in computer science and engineering
                            from vignan's nirula institute of technology and science for women</p>
                </section></li>
                <li>
                    <section>
                        <h3 id="header"><b>Plans<b></h2>
                            <p class="planssection">I am interested to work on programing includes .NET</P>
                            </section>
                        </li>
                        <section>
                            <h3 id="header"><b>Interests</b></h2>
                                <p class="plansection">I am interested in Browsing and technology.I love to visit different places</p>
                            </section>
                        </li>
                    </ol>
                </header>
            </article>
<br/>
<br/>