<br/>
<br/>
<div style="background-color: #e0ebeb">
<h1>Naresh Vunnam</h1>
<h3>Software Developer</h3>
<article>
    <section>
        <div class="row">
            <div class="col-sm-1"></div>
           <div class="col-sm-8" >
                <h2>Background</h2>   
            I am from Guntur,Andhra Pradesh,INDIA. 
         I graduated in the year 2015 from KLU, Vijayawada.I have an experience of 2 years as Senior Software Engineer from Capgemini. 
         Which really boosted my interest towards IT industry and the latest technologies.</div>
         
           <div class="col-sm-2"><img src="Naresh.jpg" ></div>
           <div class="col-sm-1"></div>
         </div>
    </section>
    <section>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2> Objective :</h2><br>
                  <p> My objective is to pursue a highly rewarding career, 
                  seeking for a job in challenging and healthy environment where I can utilize 
                  my skills and knowledge efficiently for me as well as organizational growth.
                  </p>
             </div>
            <div class="col-sm-1"></div>
         </div>
    </section>
    <section>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
             <h3> Interests and Strengths :</h3><br>
             <ol>
             <li>Sports – Exercise, Running, Bicycling, Swimming, Team Sports like Crciket and Volleyball etc</li>
             <li>Listening Music</li>
             <li>Traveling</li>
             <li>Socializing – Community work, Volunteer Work</li>
             <li>Reading, Writing</li>
             <li>Playing games on computer</li>
             </ol>
             <p>
             Also my main strangth is I believe in sincerity and dedication 
             in the execution of work assigned to me and also maintaining high standard of good team work.
             </p>
             <div class="col-sm-1"></div>
         </div>
         </div>
    </section>

</article>
</div>
<br/>
<br/>