<br/>
<br/>
<br/>
<h1>Chandrika Meda</h1>
<h2>Software Developer</h2>
<article>
    <header>
        <h1>Introducing Myself</h1>
        
    </header>
    <section>
        <h2>Background</h2>
        <p>I am from Guntur, Andhrapradesh ,India. <br>
            Compleated my undergraduation in electronics and communication from KITS College,Guntur in 2016.<br>
            I don't have any kind of work experience.
        </p>
    </section>
    <section>
        <h2>Plans</h2>
        <p>At this particular point of time I plan to compleate my graduation with a very good GPA. <br>
            Later on as i love to play video games I am thinking on becoming a Game developer. <br>
            Another option is to become a application designer.
        </p>
    </section>
    <section>
        <h2>Interests</h2>
        <p>I like playing games both outdoor and indoor like badminton,volleyball. <br>
            Moving on to my hobbies i like to listen music, watch movies and dramas. 
        </p>
    </section>

</article>

<br/>
<br/>