<br/>
<br/>
<br/>
<h1>Swathi Dasari</h1>
<h2>Software Developer</h2>
<h2>My BackGround</h2>
<p>I am Swathi Dasari from Andhra pradesh (INDIA).I pursued under graduation in Electrical and Electronics engineering in KL University.I had completed masters in control systems from JNTU Hyderabad.I worked in Research and Development as an product supporter for Matlab.</p>


<h2>Plans</h2>
<p>i am very much interested to work as an JAVA developer especially in banking sectors.Finding job which makes me happier and matches my interests.
After few years I will try to develop my own technology startup company.</p>
<h2>Interests</h2>
<p> I am very much interested in programming languages like C, C++, java .I love to participate in public awarness programs.My hobbies are playing badminton, cooking and gardening.</p>
<br/>
<br/>