<br/>
<br/>
<br/>
<h1>Hemanth Narne</h1>
<h2>Software Developer </h2>
<article>

     <header><h1>ABOUT ME</h1></header>
	 <img src="1.jpg" class="circle" height="100" width="100" alt="Profile Picutre">
		<section><h3 id="h3">Background</h3>
		<p>I am Hemanth chowdary Narne from andhrapradesh India.<br>
		I have done my bachelors from RVR&JC from the department of cse located in India
		</p>
		</section>
		<section><h3 class="class1">Plans</h3>
		<p>I am intrested to lern the web designing and finally wanted to develop one of the best websites<br>
		Furtherly i need to establish as an gud software developer<br>
		</p>
		</section>
		<section><h3 class="class2">Interests</h3>
		<p>I am intrested in data analytics<br>
		I am intrested in cricket and baseball
		</p>
		</section>
		
	</article>

<br/>
<br/>