<html><head>
    <title>nwmsu01</title>
    <link rel="stylesheet" type="text/css" href="Vinukonda_Sirisha11.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <p class="link"><img  id="mypic" src="../../public/images/black1.jpg" alt="myphoto" height=200 width=150 float="right"></p>
       
    
    <header><h1 class="jj">Self Introduction</h1></header>
    
    <p>I'm <b>sirisha </b>from Narsapur Andhra Pradesh</p>
    
    <article>
    <h3 class="head">Work Experience</h3>
    <p >I worked as a project engineer in <span class="wipro">Wipro Limited</span> for 19 months.<br> I supported some websites under the Kodak project.</p>
    <section>
    <h3 class="head">Career Plans</h3>
    <p class>I want to utilize the knowledge that I will gain from my education in real time world.</p>
    <p id="col">About college</p>
    <iframe width="320" height="245" src="https://www.youtube.com/embed/d5oz2OZzzfc"></iframe>
    </section> 
    <h3 class="head">Interests</h3>
    <p class>Programming language that I know are C and JAVA.</p>
    <h3 class="head">Hobbies</h3>
    <ul id="list">
    <li>Watching reality shows</li><li>Playing shuttle.</li>
    </ul>
    </article>
    <footer>
    <p>My favourite websites are</p>
    <nav>
    <a href="https://www.w3schools.com">1st website</a><br><a href="http://www.hotstar.com/">2nd website</a>
    </nav>
    
    </footer>
    </body>
    </html>