<br/>
<br/>
<br/>
<h1>Naveen Kumar</h1>
<h2>Software Developer</h2>
<article class="introduction">
    <h2 id="introduction"> Introduction </h2>
    <p class="link"><img  id="mypic" src="../../public/images/MyPhoto.jpg" alt="myphoto"></p>
    <section>
        <h2 id="backgroundHeader">Background</h2>
        <p class="background"> I am Naveen Kumar Chandaluri from India.<br> By profession, I worked as an senior software engineer in Wipro Technologies, 
        back in India <br>for a couple of years after my graduation in Master of Computer Application. </p>
    </section>
    <section>
        <h2 id="plansHeader">Plans</h2>
        <p class="background">I would like to complete my master's course with good knowledge on different areas like Web Applications, Android etc.<br> My goal is to 
           become a Computer Architecture.<br>I have interest to develop mobile apps using Android and IOS.</p>
    </section>
    <section>
        <h2 id="interestsHeader">Interests</h2>
        <p class="background">Blogging on web development, Solving complex coding issues, and volunteering to help develop.<br> I love traveling around the world and 
           meeting people of different backgrounds and learning and respecting different cultures.</p>
    </section>
</article>

<br/>
<br/>