<br/>
<br/>
<br/>
<h1>Hitesh Kolla</h1>
<h2>Software Developer</h2>
<h1>My Background </h1>
<p>I am kolla hitesh from hyderabad, telangana,India. <br>
    I have done my undergraduation in electronics and communication from Mahatma Gandhi Institution Of Technology.<br>
    Now Iam currently persuing master in applied computer science This is going be a fresh experience.<br>
    <p>
</header>
<section>
<h2>My Plans</h2>
<p> I have special interset in desiging and like to master it in this course. <br>
    I like run my own application in upcoming years.<br></p>
</section>
<section>
<h2>My Interests</h2>
<p> I love to play snookers apart from these like playing cricket, badminton, basketball.<br></p>
<br/>
<br/>